@page
@model IndexModel

<style>
    .sticky-column {
        position: sticky;
        right: 0;
        z-index: 1;
    }
</style>

<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-sm-8 text-start">
            <h3>QUẢN LÝ CHƯƠNG TRÌNH</h3>
        </div>
        <div class="col-sm-4 text-end">
            <button class="btn btn-success"><i class="fas fa-plus"></i>Tạo mới</button>
        </div>
    </div>
    <div class="shadow p-3 rounded mb-5">
        <div>
            <form>
                <div class="form-group row mb-5">
                    <div class="col-sm-4">
                        <input id="staticEmail" name="staticEmail" type="text" class="form-control" placeholder="Nhập tên chương trình">
                    </div>
                    <div class="col-sm-1 p-0">
                        <label for="inputPassword" class="col-form-label">Trạng thái</label>
                    </div>
                    <div class="col-sm-2">
                        <select id="inputPassword" name="inputPassowrd" class="form-control">
                            <option selected>Tất cả</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-outline-primary">Tìm kiếm</button>
                    </div>
                </div>
            </form>
        </div>
        <div>
            @if (Model.thongTinChuongTrinh != null)
            {
                <table class="table table-light">
                    <thead class="table-secondary">
                        <tr>
                            <th>Tên chương trình</th>
                            <th>Tên tổ chức</th>
                            <th>Ngày tạo</th>
                            <th>Người tạo</th>
                            <th>Trạng thái</th>
                            <th class="sticky-column bg-white text-center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var thongTin in Model.thongTinChuongTrinh)
                        {
                            <tr>
                                <td>@thongTin.TenChuongTrinh</td>
                                <td>@thongTin.TenToChuc</td>
                                <td>@thongTin.NgayTao</td>
                                <td>@thongTin.NguoiTao</td>
                                <td>@thongTin.TrangThai</td>
                                <td class="sticky-column bg-white text-center"><i class="fa fa-ellipsis"></i></td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <p>Không có Thông tin người dùng</p>
            }
        </div>
    </div>
</div>
